<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_css }}">
    <link rel="stylesheet" href="{{ specific_css }}">
</head>
<body>
    <div class="header">
        <h1>{{ profile.name }}</h1>
        <div class="subtitle">Academic Curriculum Vitae | {{ profile.role }}</div>
        {% include 'sections/contact.html' %}
    </div>

    {% include 'sections/about.html' %}
    {% include 'sections/research.html' %}
    {% include 'sections/education.html' ignore missing %}
    {% include 'sections/education.html' %}
    {% include 'sections/experience.html' %}
    {% include 'sections/projects.html' %}
    {% include 'sections/skills.html' %}
    {% include 'sections/achievements.html' %}
    {% include 'sections/certifications.html' %}
    
</body>
</html>
